<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.purdue.vieck.budgetapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".BudgetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_dvd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ChartActivity"
            android:label="@string/title_activity_chart"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DataActivity"
            android:label="@string/title_activity_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GraphActivity"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddActivity"
            android:label="@string/title_activity_submit"
            android:parentActivityName=".Activities.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.vieck.budgetapp.Activities.ChartActivity" />
        </activity>
        <activity
            android:name=".Activities.CategoryEditingActivity"
            android:label="@string/title_activity_edit_category"
            android:parentActivityName=".Activities.AddActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.vieck.budgetapp.Activities.AddActivity" />
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/SettingsLayout" />
        <activity
            android:name=".Activities.EditActivity"
            android:label="@string/title_activity_description"
            android:parentActivityName=".Activities.ChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.vieck.budgetapp.Activities.ChartActivity" />
        </activity>
        <activity
            android:name=".Activities.ProjectionsActivity"
            android:label="@string/title_activity_projections" />
        <activity android:name=".Activities.BackupActivity"></activity>
    </application>

</manifest>