<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.purdue.vieck.budgetapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:protectionLevel="signature"
        android:name="edu.purdue.vieck.permission.C2D_MESSAGE" />
    <uses-permission android:name="edu.purdue.vieck.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dvd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="Gpyb8G3WsyI2ys158lag2JC4339FLzL6xdUbrQxc" />

        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="RjYuaiJ9XulYRUThIOyqBvLrSeVdDPsrPHLIOjkD" />

        <activity
            android:name=".Activities.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ChartActivity"
            android:label="@string/title_activity_chart"
            android:parentActivityName=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DataActivity"
            android:label="@string/title_activity_data"
            android:parentActivityName=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GraphActivity"
            android:label="@string/title_activity_graph"
            android:parentActivityName=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.AddActivity"
            android:label="@string/title_activity_submit"
            android:parentActivityName=".Activities.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditActivity"
            android:label="@string/title_activity_description"
            android:parentActivityName=".Activities.ChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.vieck.budgetapp.Activities.ChartActivity" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="edu.purdue.vieck.budgetapp" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
